In [468]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from catboost import CatBoostRegressor

In [469]:
def error(y_train,y_pred):
    print(mean_absolute_error(y_train,y_pred))
    print(mean_absolute_percentage_error(y_train,y_pred))

In [558]:
df = pd.read_csv('C:\\Users\\zizzs\\Desktop\\Учица\\Train\\realtor-data.csv')

In [547]:
df

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
...,...,...,...,...,...,...,...,...,...,...
99995,for_sale,3.0,3.0,NaN,Hudson,Massachusetts,1749.0,2864.0,NaN,749900.0
99996,for_sale,2.0,1.0,0.34,Auburn,Massachusetts,1501.0,1075.0,1999-06-07,349900.0
99997,for_sale,3.0,2.0,1.01,Shrewsbury,Massachusetts,1545.0,1632.0,1995-09-27,549000.0
99998,for_sale,3.0,2.0,0.12,Worcester,Massachusetts,1604.0,1332.0,2000-09-11,299000.0
99999,for_sale,3.0,3.0,21.67,Grafton,Massachusetts,1536.0,1846.0,2020-10-06,535000.0

In [559]:
df[df['bed'].isna()] = df['bed'].median()               #Clearing the Dataset from Nan's
df[df['bath'].isna()] = df['bath'].median()             #
df[df['acre_lot'].isna()] = df['acre_lot'].median()     #
df[df['house_size'].isna()] = df['house_size'].median() #
df = df.drop('zip_code',axis=1).copy()                  #Dropping zip_code, because it is not worth counting
df = df.drop('prev_sold_date',axis=1).copy()            #Dropping prev_sold_date because it is hard to get from all Nan's in this column
df = df.loc[df['price'] > 15000.0].copy()               #There are many strange filled Series(like status = 0.17 or price = 0.17), and all of them are getting away with this part
df = df.dropna(subset=['city']).copy()                  #Dropping one last Nan from city column

train, test = train_test_split(df,train_size=0.6,random_state=137) #Splitting dataset for Catboost on Train(60%), Test(20%), Val(20%)
test, val = train_test_split(test,train_size=0.5,random_state=137)
df.dtypes                                               #showing types of columns

status         object
bed           float64
bath          float64
acre_lot      float64
city           object
state          object
house_size    float64
price         float64
dtype: object

In [467]:
# dfcopy = df.copy()

In [557]:
train

,status,bed,bath,acre_lot,city,state,house_size,price
68198,for_sale,7.0,2.0,0.13,Springfield,Massachusetts,2481.0,269900.0
94733,for_sale,3.0,1.0,0.08,West Warwick,Rhode Island,1142.0,279000.0
47101,for_sale,6.0,2.0,1.26,Manchester,Connecticut,1808.0,325000.0
87638,for_sale,8.0,5.0,0.23,Spencer,Massachusetts,4219.0,355000.0
43533,for_sale,3.0,1.0,0.73,Palmer,Massachusetts,1250.0,269900.0
...,...,...,...,...,...,...,...,...
91281,for_sale,2.0,1.0,0.88,Westborough,Massachusetts,815.0,325000.0
1863,for_sale,4.0,1.0,0.94,Utuado,Puerto Rico,13818.0,108000.0
90300,for_sale,3.0,2.0,0.39,Leominster,Massachusetts,2205.0,436590.0
86903,for_sale,3.0,1.0,0.15,Marlborough,Massachusetts,1617.0,344900.0
19357,for_sale,3.0,2.0,29.60,San Juan,Puerto Rico,1050.0,24900.0

In [560]:
df.isna().mean()

status        0.0
bed           0.0
bath          0.0
acre_lot      0.0
city          0.0
state         0.0
house_size    0.0
price         0.0
dtype: float64

In [474]:
train.columns

Index(['status', 'bed', 'bath', 'acre_lot', 'city', 'state', 'house_size',
       'price'],
      dtype='object')

In [530]:
X = ['bed', 'bath', 'acre_lot', 'city', 'state', 'house_size']

cat_features = ['city', 'state']

y = ['price']

In [533]:
model = CatBoostRegressor(cat_features=cat_features,
                        learning_rate=1,
                        eval_metric='MAPE',
                        iterations=10000,
                        random_seed=137,
                        verbose=100)


model = CatBoostRegressor(learning_rate=1,
                        eval_metric='MAPE',
                        iterations=10000,
                        random_seed=137,
                        verbose=100)

In [534]:
model.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 1.0171704	test: 1.0176564	best: 1.0176564 (0)	total: 4.96ms	remaining: 49.6s
100:	learn: 0.4081552	test: 0.4308355	best: 0.4308355 (100)	total: 690ms	remaining: 1m 7s
200:	learn: 0.3375973	test: 0.3651872	best: 0.3651872 (200)	total: 1.27s	remaining: 1m 2s
300:	learn: 0.2806776	test: 0.3137961	best: 0.3137961 (300)	total: 1.91s	remaining: 1m 1s
400:	learn: 0.2490355	test: 0.2858065	best: 0.2858065 (400)	total: 2.51s	remaining: 1m
500:	learn: 0.2185890	test: 0.2578191	best: 0.2578191 (500)	total: 3.09s	remaining: 58.7s
600:	learn: 0.1962012	test: 0.2391775	best: 0.2391775 (600)	total: 3.77s	remaining: 58.9s
700:	learn: 0.1756726	test: 0.2178847	best: 0.2178847 (700)	total: 4.59s	remaining: 1m
800:	learn: 0.1597634	test: 0.2013186	best: 0.2012299 (799)	total: 6.58s	remaining: 1m 15s
900:	learn: 0.1469766	test: 0.1882492	best: 0.1882492 (900)	total: 7.46s	remaining: 1m 15s
1000:	learn: 0.1362792	test: 0.1784105	best: 0.1784105 (1000)	total: 8.35s	remaining: 1m 15s
1100:	learn: 0.1277857	test: 0.1697186	best: 0.1696621 (1099)	total: 9.2s	remaining: 1m 14s
1200:	learn: 0.1159071	test: 0.1584309	best: 0.1583007 (1198)	total: 10.1s	remaining: 1m 13s
1300:	learn: 0.1071927	test: 0.1509269	best: 0.1509269 (1300)	total: 10.9s	remaining: 1m 13s
1400:	learn: 0.1005789	test: 0.1447959	best: 0.1447575 (1399)	total: 11.9s	remaining: 1m 12s
1500:	learn: 0.0948518	test: 0.1394949	best: 0.1394949 (1500)	total: 12.6s	remaining: 1m 11s
1600:	learn: 0.0903845	test: 0.1351831	best: 0.1351831 (1600)	total: 13.5s	remaining: 1m 10s
1700:	learn: 0.0850627	test: 0.1305471	best: 0.1304314 (1695)	total: 14.3s	remaining: 1m 9s
1800:	learn: 0.0806496	test: 0.1259334	best: 0.1259334 (1800)	total: 15.2s	remaining: 1m 8s
1900:	learn: 0.0771451	test: 0.1224254	best: 0.1224254 (1900)	total: 16s	remaining: 1m 8s
2000:	learn: 0.0725629	test: 0.1184431	best: 0.1184431 (2000)	total: 16.9s	remaining: 1m 7s
2100:	learn: 0.0688724	test: 0.1147418	best: 0.1147418 (2100)	total: 17.7s	remaining: 1m 6s
2200:	learn: 0.0659604	test: 0.1120526	best: 0.1120526 (2200)	total: 18.5s	remaining: 1m 5s
2300:	learn: 0.0627709	test: 0.1092896	best: 0.1092896 (2300)	total: 19.6s	remaining: 1m 5s
2400:	learn: 0.0603792	test: 0.1071470	best: 0.1071221 (2399)	total: 20.3s	remaining: 1m 4s
2500:	learn: 0.0578986	test: 0.1046484	best: 0.1046268 (2498)	total: 21.2s	remaining: 1m 3s
2600:	learn: 0.0558519	test: 0.1025223	best: 0.1025223 (2600)	total: 21.9s	remaining: 1m 2s
2700:	learn: 0.0537241	test: 0.1006334	best: 0.1006334 (2700)	total: 22.5s	remaining: 1m
2800:	learn: 0.0518171	test: 0.0987789	best: 0.0987773 (2799)	total: 23.2s	remaining: 59.5s
2900:	learn: 0.0501056	test: 0.0970005	best: 0.0968854 (2893)	total: 23.8s	remaining: 58.2s
3000:	learn: 0.0483532	test: 0.0955948	best: 0.0955529 (2998)	total: 24.4s	remaining: 56.8s
3100:	learn: 0.0470572	test: 0.0944411	best: 0.0944411 (3100)	total: 25s	remaining: 55.6s
3200:	learn: 0.0452924	test: 0.0924610	best: 0.0924610 (3200)	total: 25.6s	remaining: 54.3s
3300:	learn: 0.0440308	test: 0.0911512	best: 0.0911500 (3299)	total: 26.2s	remaining: 53.1s
3400:	learn: 0.0427845	test: 0.0902668	best: 0.0902466 (3399)	total: 26.8s	remaining: 52s
3500:	learn: 0.0417278	test: 0.0893595	best: 0.0893528 (3499)	total: 27.4s	remaining: 50.8s
3600:	learn: 0.0405558	test: 0.0885026	best: 0.0885026 (3600)	total: 28s	remaining: 49.8s
3700:	learn: 0.0395231	test: 0.0875130	best: 0.0875130 (3700)	total: 28.7s	remaining: 48.9s
3800:	learn: 0.0381983	test: 0.0860733	best: 0.0860543 (3799)	total: 29.4s	remaining: 48s
3900:	learn: 0.0372591	test: 0.0854535	best: 0.0853892 (3890)	total: 30s	remaining: 46.9s
4000:	learn: 0.0363071	test: 0.0845281	best: 0.0845281 (4000)	total: 30.8s	remaining: 46.1s
4100:	learn: 0.0355829	test: 0.0840076	best: 0.0840066 (4080)	total: 31.4s	remaining: 45.1s
4200:	learn: 0.0348014	test: 0.0832616	best: 0.0832607 (4197)	total: 32s	remaining: 44.2s
4300:	learn: 0.0340532	test: 0.0825381	best: 0.0825184 (4298)	total: 32.7s	remaining: 43.4s
4400:	learn: 0.0334123	test: 0.0820036	best: 0.0819999 (4392)	total: 33.3s	remaining: 42.4s
4500:	learn: 0.0327599	test: 0.0814887	best: 0.0814887 (4500)	total: 33.8s	remaining: 41.4s
4600:	learn: 0.0321175	test: 0.0808076	best: 0.0807911 (4597)	total: 34.4s	remaining: 40.4s
4700:	learn: 0.0314399	test: 0.0802567	best: 0.0802431 (4696)	total: 34.9s	remaining: 39.4s
4800:	learn: 0.0308960	test: 0.0798058	best: 0.0798058 (4800)	total: 35.4s	remaining: 38.4s
4900:	learn: 0.0302340	test: 0.0789611	best: 0.0789611 (4900)	total: 36s	remaining: 37.4s
5000:	learn: 0.0297751	test: 0.0786117	best: 0.0785601 (4996)	total: 36.5s	remaining: 36.5s
5100:	learn: 0.0290689	test: 0.0779720	best: 0.0779720 (5100)	total: 37.1s	remaining: 35.6s
5200:	learn: 0.0286808	test: 0.0776873	best: 0.0776296 (5193)	total: 37.6s	remaining: 34.6s
5300:	learn: 0.0281777	test: 0.0773000	best: 0.0772912 (5299)	total: 38.1s	remaining: 33.8s
5400:	learn: 0.0277744	test: 0.0769121	best: 0.0768846 (5388)	total: 38.7s	remaining: 32.9s
5500:	learn: 0.0273347	test: 0.0765452	best: 0.0765313 (5499)	total: 39.2s	remaining: 32s
5600:	learn: 0.0269575	test: 0.0762007	best: 0.0761859 (5592)	total: 39.7s	remaining: 31.1s
5700:	learn: 0.0265166	test: 0.0757703	best: 0.0757635 (5699)	total: 40.2s	remaining: 30.3s
5800:	learn: 0.0261845	test: 0.0755596	best: 0.0755102 (5778)	total: 40.7s	remaining: 29.4s
5900:	learn: 0.0257907	test: 0.0752432	best: 0.0752406 (5898)	total: 41.2s	remaining: 28.6s
6000:	learn: 0.0253438	test: 0.0748854	best: 0.0748815 (5996)	total: 41.7s	remaining: 27.8s
6100:	learn: 0.0250633	test: 0.0746547	best: 0.0746506 (6099)	total: 42.2s	remaining: 27s
6200:	learn: 0.0247342	test: 0.0743912	best: 0.0743912 (6200)	total: 42.8s	remaining: 26.2s
6300:	learn: 0.0244901	test: 0.0741843	best: 0.0741821 (6298)	total: 43.3s	remaining: 25.4s
6400:	learn: 0.0241851	test: 0.0739792	best: 0.0739792 (6400)	total: 43.8s	remaining: 24.6s
6500:	learn: 0.0239125	test: 0.0737650	best: 0.0737650 (6500)	total: 44.3s	remaining: 23.8s
6600:	learn: 0.0236730	test: 0.0735485	best: 0.0735485 (6600)	total: 44.8s	remaining: 23.1s
6700:	learn: 0.0234165	test: 0.0732980	best: 0.0732873 (6693)	total: 45.3s	remaining: 22.3s
6800:	learn: 0.0231821	test: 0.0730723	best: 0.0730723 (6800)	total: 45.9s	remaining: 21.6s
6900:	learn: 0.0229317	test: 0.0728948	best: 0.0728948 (6900)	total: 46.4s	remaining: 20.8s
7000:	learn: 0.0227309	test: 0.0727333	best: 0.0727333 (7000)	total: 46.9s	remaining: 20.1s
7100:	learn: 0.0224888	test: 0.0725739	best: 0.0725728 (7098)	total: 47.4s	remaining: 19.4s
7200:	learn: 0.0222957	test: 0.0723409	best: 0.0723381 (7199)	total: 48s	remaining: 18.6s
7300:	learn: 0.0221060	test: 0.0721937	best: 0.0721929 (7299)	total: 48.5s	remaining: 17.9s
7400:	learn: 0.0219224	test: 0.0720087	best: 0.0720087 (7400)	total: 49s	remaining: 17.2s
7500:	learn: 0.0217489	test: 0.0718481	best: 0.0718481 (7500)	total: 49.5s	remaining: 16.5s
7600:	learn: 0.0214897	test: 0.0715909	best: 0.0715909 (7600)	total: 50.1s	remaining: 15.8s
7700:	learn: 0.0213427	test: 0.0714874	best: 0.0714829 (7697)	total: 50.6s	remaining: 15.1s
7800:	learn: 0.0211735	test: 0.0713473	best: 0.0713473 (7800)	total: 51.1s	remaining: 14.4s
7900:	learn: 0.0209860	test: 0.0711658	best: 0.0711658 (7900)	total: 51.6s	remaining: 13.7s
8000:	learn: 0.0208059	test: 0.0710087	best: 0.0710048 (7997)	total: 52.2s	remaining: 13s
8100:	learn: 0.0206707	test: 0.0708724	best: 0.0708691 (8099)	total: 52.7s	remaining: 12.3s
8200:	learn: 0.0205035	test: 0.0707171	best: 0.0707171 (8200)	total: 53.2s	remaining: 11.7s
8300:	learn: 0.0203264	test: 0.0705514	best: 0.0705485 (8296)	total: 53.7s	remaining: 11s
8400:	learn: 0.0201725	test: 0.0704593	best: 0.0704580 (8396)	total: 54.3s	remaining: 10.3s
8500:	learn: 0.0200643	test: 0.0703541	best: 0.0703541 (8500)	total: 54.9s	remaining: 9.69s
8600:	learn: 0.0199025	test: 0.0702141	best: 0.0702141 (8600)	total: 55.5s	remaining: 9.03s
8700:	learn: 0.0197773	test: 0.0701000	best: 0.0701000 (8700)	total: 56.2s	remaining: 8.38s
8800:	learn: 0.0196574	test: 0.0700106	best: 0.0700106 (8800)	total: 56.8s	remaining: 7.74s
8900:	learn: 0.0195596	test: 0.0699454	best: 0.0699307 (8890)	total: 57.5s	remaining: 7.1s
9000:	learn: 0.0194501	test: 0.0698335	best: 0.0698335 (9000)	total: 58.1s	remaining: 6.45s
9100:	learn: 0.0193730	test: 0.0697910	best: 0.0697693 (9069)	total: 58.7s	remaining: 5.8s
9200:	learn: 0.0192544	test: 0.0696691	best: 0.0696689 (9197)	total: 59.4s	remaining: 5.16s
9300:	learn: 0.0191594	test: 0.0695960	best: 0.0695946 (9297)	total: 1m	remaining: 4.52s
9400:	learn: 0.0190607	test: 0.0695374	best: 0.0695282 (9388)	total: 1m	remaining: 3.87s
9500:	learn: 0.0189358	test: 0.0694460	best: 0.0694460 (9500)	total: 1m 1s	remaining: 3.23s
9600:	learn: 0.0188485	test: 0.0693740	best: 0.0693740 (9600)	total: 1m 2s	remaining: 2.58s
9700:	learn: 0.0187900	test: 0.0693245	best: 0.0693220 (9698)	total: 1m 2s	remaining: 1.93s
9800:	learn: 0.0187008	test: 0.0692538	best: 0.0692511 (9779)	total: 1m 3s	remaining: 1.28s
9900:	learn: 0.0186424	test: 0.0691950	best: 0.0691944 (9895)	total: 1m 4s	remaining: 640ms
9999:	learn: 0.0185832	test: 0.0691284	best: 0.0691278 (9996)	total: 1m 4s	remaining: 0us

bestTest = 0.06912776167
bestIteration = 9996

Shrink model to first 9997 iterations.

In [563]:
test['testprediction'] = model.predict(test[X])

In [564]:
error(test['price'],test['testprediction'])

14623.320421204166
0.06440894539454266